extends ../layout
block css 
	link(rel="stylesheet", href="/stylesheets/store/appointment.css")
block content
	.body
		#head
			h2 xx造型
			a(href="/") 返回首页
			a(href="/store") 返回店家首页
			a(href="/store/customer_list") 查看会员列表
			a(href="") 注销
		.content
			h2 已接受预约
			table 
				tr 
					td 时间
					td 会员名称
					td 预约发型师
				tr 
					td sdf
					td sdf
					td sdf
				tr 
					td sdf
					td sdf
					td saf
				tr 
					td sdf
					td sdf
					td saf
			h2 预约申请
			table 
				tr 
					td 时间
					td 会员名称
					td 预约理发师
					td 操作
				tr 
					td 18:00
					td 张三
					td mark
					td 
						a.yes(href='#') 同意
						a.no(href='#') 拒绝
				tr 
					td 18:00
					td 张三
					td mark
					td 
						a.yes(href='#') 同意
						a.no(href='#') 拒绝
				tr 
					td 18:00
					td 张三
					td mark
					td 
						a.yes(href='#') 同意
						a.no(href='#') 拒绝
				tr 
					td 18:00
					td 张三
					td mark
					td 
						a.yes(href='#') 同意
						a.no(href='#') 拒绝
				tr 
					td 18:00
					td 张三
					td mark
					td 
						a.yes(href='#') 同意
						a.no(href='#') 拒绝
			p= info


