extends ../layout
block css 
	link(rel="stylesheet", href="/stylesheets/store/appointment.css")
block content
	.body
		#head
			h2 xx造型
			a(href="/") 返回首页
			a(href="/store") 返回店家首页
			a(href="") 注销
		.content
			table 
				tr
					td 用户名
					td 密码 
					td 电话
					td 注册时间
					td 卡内余额
				tr
					td 用户名
					td 密码 
					td 电话
					td 注册时间
					td 卡内余额
				tr
					td 用户名
					td 密码 
					td 电话
					td 注册时间
					td 卡内余额
				tr
					td 用户名
					td 密码 
					td 电话
					td 注册时间
					td 卡内余额