extends layout
block css 
	link(rel="stylesheet", href="/stylesheets/hair_style.css")
block content
	.body
		#head
			h2 xx造型
			a(href="/") 首页
	.content
		h1
			span 发型大全
			a(href='/hair_all') 查看所有发型
		h3.men 男士发型：
		a(href="#")
			img(src="/images/hair/1.png")
		a(href="#")
			img.middle(src="/images/hair/2.png")
		a(href="#")
			img(src="/images/hair/3.png")
		h3.women 女士发型：
		a(href="#")
			img(src="/images/hair/w1.png")
		a(href="#")
			img.middle(src="/images/hair/w2.png")
		a(href="#")
			img(src="/images/hair/w3.png")
