extends layout
block css 
	link(rel="stylesheet", href="/stylesheets/hair_style.css")
block content
	.body
		#head
			h2 xx造型
			a(href="/") 首页
	.content
		h1 发型大全
		h3.men 男士发型：
		a(href="#")
			img(src="/images/hair/1.png")
		a(href="#")
			img.middle(src="/images/hair/2.png")
		a(href="#")
			img(src="/images/hair/3.png")
		a(href="#")
			img(src="/images/hair/4.png")
		a(href="#")
			img.middle(src="/images/hair/5.png")
		a(href="#")
			img(src="/images/hair/6.png")
		a(href="#")
			img(src="/images/hair/7.png")
		a(href="#")
			img.middle(src="/images/hair/8.png")
		a(href="#")
			img(src="/images/hair/9.png")
		a(href="#")
			img(src="/images/hair/10.png")
		a(href="#")
			img.middle(src="/images/hair/11.png")
		a(href="#")
			img(src="/images/hair/12.png")
		h3.women 女士发型：
		a(href="#")
			img(src="/images/hair/w1.png")
		a(href="#")
			img.middle(src="/images/hair/w2.png")
		a(href="#")
			img(src="/images/hair/w3.png")
		a(href="#")
			img(src="/images/hair/w4.png")
		a(href="#")
			img.middle(src="/images/hair/w5.png")
		a(href="#")
			img(src="/images/hair/w6.png")
		a(href="#")
			img(src="/images/hair/w7.png")
		a(href="#")
			img.middle(src="/images/hair/w8.png")

