extends layout
block css
	link(rel="stylesheet", href="/stylesheets/store/store.css")
block content
	.body
		img(src="/images/load.jpg")
		.input_form_wrap
			.input_form
				p.input 请输入账号:
				input.userId 
				p.input 请输入密码:
				input.passWord
				button.btn(onclick='landing()') 登录
				a.btn(href='/user/register') 注册
				a.a(href='javascript:void(0)') 忘记密码？
				a.a(href='javascript:void(0)') 无法登录？
				p.contact 请及时联系客服
block footer
	script(src='/javascripts/customer/user_landing.js')
block sripts