extends ../layout
block css 
	link(rel="stylesheet", href="/stylesheets/customer/appointing_do.css")
block content
	.body
		#head
			h2 xx造型
			a(href="/") 首页
			a(href="/user") 会员首页
		.content
			h1 预约成功，请及时到店进行消费
			h3 预约详情：
			span 时间：
			span 2015年 10月 22日 
			span 18点
			p 店铺地址：北京市海淀区西土城路10号
			a(href='/myAccount') 回到我的账户
