extends ../layout
block css 
	link(rel="stylesheet", href="/stylesheets/customer/reg_success.css")
block content
	.body
		#head
			h2 xx造型
			a(href="/") 首页
			a(href="/user") 会员首页
			a(href='/appoint') 去预约
		.content
			h1 注册成功，恭喜您成为本店会员！
			a(href='/user') 去登录